<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="false" /><!-- 开发时禁用 全局映射器启用缓存 -->
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
           <!--解决，查询返回结果含null没有对应字段值问题-->  
  		<setting name="callSettersOnNulls" value="true"/> 
    </settings>

	<typeAliases>
		<typeAlias type="com.fh.entity.system.User" alias="User"/>
		<typeAlias type="com.fh.entity.system.Role" alias="Role"/>
		<typeAlias type="com.fh.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.fh.entity.system.Dictionaries" alias="Dictionaries"/>
		<typeAlias type="com.fh.entity.system.Department" alias="Department"/>
		
		<!-- 这里添加生成的实体类 -->
		
		
		<typeAlias type="com.fh.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.fh.entity.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		 <plugin interceptor="com.fh.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin> 
		 	
		 <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->        
            <property name="dialect" value="mysql"/>
    	 </plugin> 
       
	</plugins>
	
</configuration>