<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileDao">
 	<!--增加文件-->
  	<insert id="add_f" parameterType="com.wdkj.dzzh.entity.GoverMap.file">
  	insert into file  (text,realname,location,virtuallocation,type,govertype,goverid,goverstage )
		value (#{text},#{realname},#{location},#{virtuallocation},#{type},#{govertype}, #{goverid},#{goverstage})
  	</insert>
  	
  	<select id="filelist" parameterType="com.wdkj.dzzh.entity.GoverMap.file" resultType="com.wdkj.dzzh.entity.GoverMap.file">
  		select *
		FROM file f
		where f.goverid=#{goverid} and f.govertype=#{govertype} and f.type=#{type} and f.goverstage=#{goverstage}
  	</select>
  	
  	<delete id="deletelist" parameterType="java.util.List">
  		delete from file
  		where id in
	<foreach item="item" index="index" collection="list" open="("
            separator="," close=")">
            #{item}  
      </foreach>
  	</delete>

</mapper>