<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DailyMapper">
	<!-- 些日报 -->
	<insert id="savedaily" parameterType="com.wdkj.wf.house.entity.DailyEntity" >
	insert into daily(
		title,
		content,
		creattime,
		user_id)
		values
		(#{title},#{content},now(),#{user_id})
	</insert>
</mapper>